---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-start">
          <div class="page-heading" style="text-align: left;">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading text-start d-block" style="font-weight: bold">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        <h2 class="section-heading">Our Team</h2>

        <p>
          We are a team of passionate students from Ottawa, the capital of the Great White North. We are driven by a deep fascination with robotics. What we do is explore the vast world of technology, where we can push the boundaries of our potential altogether.
       </p>
      
       <p>
          In mid-2024, we embarked on this journey with the goal of competing in the FIRST Tech Challenge, one of the most prestigious robotics competitions in the world. Although we are still in the early stages, our vision is clear: to build and program a groundbreaking robot that will demonstrate our technical prowess >:).
       </p>
      
      
      <h2 class="section-heading">Our Foundation</h2>
      
      <p>Our foundation is built on the principles of first-principle thinking, where we break down complex problems into their most basic elements and reassemble them in novel ways. This approach not only strengthens our understanding but also fuels our creativity and problem-solving skills.</p>
      
      <blockquote class="blockquote">Teamwork is the fuel that allows common people to attain uncommon results. Together, we achieve more, and together, we win.</blockquote>
      
      <br/>
      
      <!-- <img class="img-fluid" src="/img/bg-contact.jpg" alt="Demo Image">  -->
      
      <img class="img-fluid" src="{{ site.baseurl }}/img/bg-teamwork.jpg" alt="Demo Image">
      
      <!-- <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span> -->
      
      
      <!-- <p>Placeholder text by <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by <a href="https://unsplash.com/">Unsplash</a>.</p> -->
      



        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
